In [1]:
import json

In [7]:
import pandas as pd

In [3]:
with open(schema_file_path, 'r') as schema_file:
    schemas = json.load(schema_file)

In [4]:
def get_column_name(schema, category, sort_key='column_position'):
    try:
        if category in schema.keys():
            category_data = schema[category]
            columns = sorted(category_data, key=lambda col: col[sort_key])
            return [column['column_name'] for column in columns] 
        else:
            return None
    except Exception as ex:
        print(ex)

In [5]:
order_columns = get_column_name(schema=schemas, category='orders')

In [6]:
order_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [8]:
orders = pd.read_csv(
    'data/retail_db/orders/part-00000',
    names=order_columns
)

In [9]:
orders.head(10)

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE
5         6  2013-07-25 00:00:00.0               7130         COMPLETE
6         7  2013-07-25 00:00:00.0               4530         COMPLETE
7         8  2013-07-25 00:00:00.0               2911       PROCESSING
8         9  2013-07-25 00:00:00.0               5657  PENDING_PAYMENT
9        10  2013-07-25 00:00:00.0               5648  PENDING_PAYMENT